 ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
position: sticky;
} 
/* Puntjes verdwijnen & balk blijft in menu*/
body {
    background-color: rgb(177, 227, 246);
    opacity: 0.7;
 } /*De achtergrondkleur */
ul li {
float: left;
}

ul li a {
    display: block;
    color: darkblue;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none; 
}
/* Het menu, de kleur van de tekst, zonder hover */
ul li a:hover {
    Background-color: black;
    opacity: 0.4;
    color: white;
}
/*Voor het menu, als je met je muis er overheen gaat(hover) */

#Tekstkm {
    text-align: center;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /*breedte op alle schermen*/
}
/* Voor de tekst op de kleurenmodellen pagina, de breedte ook. */
h3 {
    color: darkblue;
} 
/* Kleur van de kopppen */
