 ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
} 
/* achtergrondkleur */
body {
    background-color: beige;
    opacity: 0.7;
} 
ul li {
    float: left; 
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none 
}

ul li a:hover {
    Background-color: white;
    opacity: 0.4;
    color: black;
}
/* Voor de paragraaf stijl & lettertype */

#Tekstkm {
    position: center;
    color: darkgray;
}
/* Voor de tekst op de kleurenmodellen pagina */

p { 
    text-align: center;
}
