 ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
position: sticky;
} 
/* Puntjes verdwijnen & balk blijft in menu*/
body {
    background-color: beige;
    opacity: 0.7;
 } /*De achtergrondkleur */
ul li {
    float: left; 
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none; 
}
/* Het menu, de kleur van de tekst, zonder hover */
ul li a:hover {
    Background-color: white;
    opacity: 0.4;
    color: black;
}
/*Voor het menu, als je met je muis er overheen gaat */

#Tekstkm {
    text-align: center;
    color: darkgray;
    text-decoration: none;
    
}
/* Voor de tekst op de kleurenmodellen pagina */

p { 
    text-align: center;
} /* Tekst in het midden */
